<div class="header-text"><span class="reader">Readers</span> have many <span class="book">books</span> through <span class="ownership">ownerships</span>.</div>

<div id="circles">
  <div class="reader-model reader"></div>
  <div class="book-model book"></div>
  <div class="ownership-model ownership"><span></span></div>
</div>
<br/>

<div class="col-md-5">
  <div>books</div>
  <table class="table">
    <tr>
      <th>title</td>
      <th>author</td>
    </tr>
    <%= render partial: 'book', collection: @books %>
  </table>
</div>

<div class="col-md-3">
  <div>ownerships</div>
  <table class="table">
    <tr>
      <th>status</th>
    </tr>
    <%= render partial: 'ownership', collection: @ownership_statuses %>
  </table>
</div>

<div class="col-md-4">
  <div>readers</div>
  <table class="table">
    <tr>
      <th>name</th>
      <th>age</th>
      <th>gender</th>
    </tr>
    <%= render partial: 'reader', collection: @readers %>
  </table>
</div>