<div class="header-text"><span class="book">Books</span> have many <span class="reader">readers</span> through <span class="library">libraries</span>.</div>

<div id="circles">
  <div class="book-model book"></div>
  <div class="reader-model reader"></div>
  <div class="library-model library"><span></span></div>
</div>
<br/>

<div class="col-md-4">
  <div class="table-title">books</div>
  <div class="table">
    <div class="tr">
      <span class="td">title</span>
      <span class="td">author</span>
      <span class="td">rating</span>
    </div class="tr">
  </div class="table">
</div>

<div class="col-md-4">
  <div class="table-title">libraries</div>
  <div class="table">
    <div class="tr">
      <span class="td">name</span>
      <span class="td">address</span>
    </div class="tr">
  </div class="table">
</div>

<div class="col-md-4">
  <div class="table-title">readers</div>
  <div class="table">
    <div class="tr">
      <span class="td">name</span>
      <span class="td">age</span>
      <span class="td">gender</span>
    </div class="tr">
  </div class="table">
</div>