/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

* {
  font-family: Raleway;
  color:#626262;
}

.header-text {
  text-align: center;
  padding:20px;
}

#circles {
  width:300px;
  margin:0 auto;
}

.book-model, .reader-model, .ownership-model {
  width:150px;
  height:150px;
  opacity:0.7;
  border-radius:75px;
}

.book, .reader, .ownership {
  font-weight:700;
}

.book {
  color:#f0c984;
}

.reader {
  color: #a3d8c7;
}

.ownership {
  color:#c8a4ed;
}

.book-model {
  background-color:#a3d8c7;
  float:left;
}

.ownership-model {
  background-color: #c8a4ed;
  margin:0 auto;
}

.ownership-model span {
  position:absolute;
  color:#f1f2f2;
}

.reader-model {
  background-color:#f0c984;
  float:right;
}

.table {
  font-size:13px;
}

.table > tbody > tr > th {
  border-top:none !important;
}